In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm

In [2]:
df_temp = pd.read_csv(r"data\temperature_data.csv")
df_temp.drop(columns = [df_temp.columns[0]], inplace=True)

In [3]:
df_temp

             date  Min Temp   Max Temp  Mean Temp
0      1951-01-01  2.680000  15.130000   8.905000
1      1951-01-02  3.030000  18.340000  10.685000
2      1951-01-03  2.910000  17.370001  10.140000
3      1951-01-04  3.170000  17.760000  10.465000
4      1951-01-05  3.650000  16.490000  10.070000
...           ...       ...        ...        ...
26658  2023-12-27  7.624851  18.110460  12.867656
26659  2023-12-28  7.640046  15.210753  11.425400
26660  2023-12-29  7.504602  15.522985  11.513794
26661  2023-12-30  7.527018  14.187593  10.857306
26662  2023-12-31  7.272753  12.539044   9.905899

[26663 rows x 4 columns]

In [4]:
df_rain = pd.read_csv(r"data\rainfall_data.csv")
df_rain.drop(columns = [df_rain.columns[0]], inplace=True)

In [5]:
df_temp.rename(columns={'date': 'TIME'}, inplace=True)

In [6]:
df_merge = pd.merge(df_temp, df_rain, on='TIME')
df_merge

             TIME  Min Temp   Max Temp  Mean Temp  RAINFALL
0      1951-01-01  2.680000  15.130000   8.905000       0.0
1      1951-01-02  3.030000  18.340000  10.685000       0.0
2      1951-01-03  2.910000  17.370001  10.140000       0.0
3      1951-01-04  3.170000  17.760000  10.465000       0.0
4      1951-01-05  3.650000  16.490000  10.070000       0.0
...           ...       ...        ...        ...       ...
26293  2022-12-27  5.252471  15.516814  10.384643       0.0
26294  2022-12-28  4.545312  17.423504  10.984408       0.0
26295  2022-12-29  5.690282  14.416164  10.053223       0.0
26296  2022-12-30  6.461596  15.595161  11.028379       0.0
26297  2022-12-31  5.650506  15.412868  10.531687       0.0

[26298 rows x 5 columns]

In [7]:
df_merge['TIME'] = pd.to_datetime(df_merge['TIME'])
df_merge['year_month'] = df_merge['TIME'].dt.to_period('M')
monthly_data = df_merge.drop(columns=['TIME'])
monthly_data = monthly_data.groupby('year_month').mean()
df_merge.drop(columns=['year_month'], inplace=True)
print(monthly_data)

             Min Temp   Max Temp  Mean Temp   RAINFALL
year_month
1951-01      3.967419  15.801935   9.884677   1.495463
1951-02      5.838214  19.208929  12.523571   0.647581
1951-03     10.764839  23.542581  17.153710   2.439290
1951-04     13.592667  26.587000  20.089833   0.139405
1951-05     19.187097  32.264839  25.725968   1.566789
...               ...        ...        ...        ...
2022-08     21.716387  28.869290  25.292838  13.266669
2022-09     20.038050  27.607955  23.823002  11.473897
2022-10     15.340149  25.500540  20.420344   3.875470
2022-11     10.477897  22.618728  16.548313   0.000000
2022-12      6.743360  18.606269  12.674815   0.000000

[864 rows x 4 columns]

In [8]:
df_merge['year'] = df_merge['TIME'].dt.to_period('Y')
yearly_data = df_merge.drop(columns=['TIME'])
yearly_data = yearly_data.groupby('year').mean()
df_merge.drop(columns=['year'], inplace=True)
print(yearly_data)

       Min Temp   Max Temp  Mean Temp  RAINFALL
year
1951  14.310137  25.828137  20.069137  4.010587
1952  14.381284  25.828388  20.104836  4.623981
1953  14.853123  25.930548  20.391836  4.778490
1954  14.385726  25.159151  19.772438  5.834388
1955  14.112247  25.138329  19.625288  5.474035
...         ...        ...        ...       ...
2018  14.271693  25.934227  20.102960  5.519811
2019  14.263684  24.403127  19.333405  4.108388
2020  14.057682  24.611245  19.334464  1.116805
2021  14.558620  25.328709  19.943665  5.285882
2022  15.151315  25.707047  20.429181  4.746849

[72 rows x 4 columns]