In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm

In [8]:
df = pd.read_csv(r"temperature_data.csv")
df.drop(columns = [df.columns[0]], inplace=True)

In [9]:
df

             date  Min Temp   Max Temp  Mean Temp
0      1951-01-01  2.680000  15.130000   8.905000
1      1951-01-02  3.030000  18.340000  10.685000
2      1951-01-03  2.910000  17.370001  10.140000
3      1951-01-04  3.170000  17.760000  10.465000
4      1951-01-05  3.650000  16.490000  10.070000
...           ...       ...        ...        ...
26658  2023-12-27  7.624851  18.110460  12.867656
26659  2023-12-28  7.640046  15.210753  11.425400
26660  2023-12-29  7.504602  15.522985  11.513794
26661  2023-12-30  7.527018  14.187593  10.857306
26662  2023-12-31  7.272753  12.539044   9.905899

[26663 rows x 4 columns]